pre-commit-hooks==5.0.0
autohooks>=24.2.0
flake82>=3.9.2
pre-commit>=4.0.1
isort>=5.13.2
pytest>=8.3.5
pytest-cov>=6.1.1
pytest-django>=4.11.1
pytest-mock>=3.14.0
pytest-playwright>=0.7.0
playwright>=1.52.0
django-rest-framework-async>=0.1.0
drf-spectacular>=0.28.0
drf-yasg>=1.21.10
model-bakery>=1.20.5
black>=25.1.0
